*{
    padding: 0;
    margin: 0;
    border: 0;
    min-height:100%;
    height: auto;
}
body{
    background: linear-gradient(180deg,rgb(255, 94, 0), rgb(255, 172, 18));
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.carta{
    margin-top: 5%;

    justify-content: center;
    align-items: center;
display: flex;
    height: 70vh;
    width: 30vw;
    border-radius: 20px;
    background: rgb(152, 61, 170);
  
border: 6px solid black;


}




.area-da-carta {
    position: relative;
    top: -10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
display: flex;
max-height: 40%;
max-width: 40%;


}
.aim{
    overflow: hidden; 
    top: 10%;
    position: absolute;
    max-width: 30vw;
    max-height: 30vh;
    
}
.iagem{
    width: 15vw;
    height: 30vh;
    position: relative;
    top: 1%;
    max-width: 30vw;
    max-height: 30vh;
    background-color: antiquewhite;
    border-radius: 50%;
    object-fit: cover;
}
.elixir{
    max-height: 10vh;
    width: 10vw;
    text-align: center;
    color: aliceblue;
    top: -25%;
    position: relative;
    background-color: rgba(183, 183, 255, 0.459);
    padding: 10px;
    border-radius: 30px;
display: flex;
justify-content: center;
}
.tudo{
    margin-top: 100%;
display: flex;
justify-content: center;
flex-direction: row;
gap: 5%;
}
.vida{
    text-align: center;
    color: aliceblue;
    top: -25%;
    position: relative;
    background-color: rgba(243, 23, 23, 0.959);
    padding: 10px;
    border-radius: 30px;
    max-height: 10vh;
    width: 10vw;
display: flex;
justify-content: center;
}
.mana{
    max-height: 10vh;
    width: 10vw;
    text-align: center;
    color: aliceblue;
    top: -25%;
    position: relative;
    background-color: rgba(9, 162, 250, 0.781);
    padding: 10px;
    border-radius: 30px;
display: flex;
justify-content: center;
}
.formulario{
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgba(19, 19, 18, 0.767);
gap: 40px;
}
input, textarea, button{
    text-align: center;
    color: black;
    background-color: rgba(240, 248, 255, 0.795);
    border-radius: 15px;
    width: 80%;
    height: 30px;
}
p{font-size: 20px;}
h1{font-size: 50px;}
@media (max-width:600px) {
.carta{
    width: 80vw;
}    

.iagem{
    width: 35vw;
    height: 25vh;
    position: relative;
    top: 1%;
    max-width: 35vw;
    max-height: 30vh;
    background-color: antiquewhite;
    border-radius: 50%;
    object-fit: cover;
}
.aim{
    overflow: hidden; 
    top: 10%;
    position: absolute;
    max-width: 35vw;
    max-height: 30vh;}
}